services:
  db:
    image: postgres:15-alpine
    container_name: plexident-db
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: .
    container_name: plexident-backend
    restart: always
    # Esto permite que Django vea a la DB como 'db'
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DEBUG=False
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - db

volumes:
  postgres_data: